body{
    background: transparent;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.jumbotron{
    background-color: transparent;
    text-align: center;
}

.row{
    margin-bottom: 100px;
}



.navbar{
    border-bottom: solid #ffc954 3px;
    width: 100%;
    
}

.display-4{
    margin-top: 50px;
}

.lead{
    margin-bottom: 25px;
}

.d-block{
    width: 100%;
}

.card-title .form-inline{
    text-align: center;
     
}

.card-img-overlay{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  
}

.btn-outline-secondary{
    background-color: #ffc954;
}

.foodDiv {
    width: 100%;
}




@media (max-width: 576px) { 

    .card-img{
        height: 300px;
        margin-top: 50px;
    }

    .img-fluid{
        height: 300px;
    }

        .input-group-lg{
            width: 100%;
            width: 300px;
            right: 75px;
        }

        .header-text{
            font-size: 45px;
        }
    
}