body{
    font-family: 'Quicksand';
    color: black;
}

.brand-logo{
    margin-left: 1%;
    margin-top: 5px;
}

nav{
    background-color: #1a3142;
    border-bottom: solid #ffc954 3px;
    font-size: 22px; 
}

.logoName{
    margin-left: 6%;
}

#home-button {
  margin-right: 30px;
}
#nav-mobile{
    font-size: 22px;
}

.card{
    margin-top: 0;
    
}

h3{
    text-align: center;
    margin-top: 100px;
}

label {
    display: block;
    box-shadow: 0.1em 0.1em 0.2em #888;
    margin: 2em; 
    border-radius: 1ex;
    padding: 2ex 2em;
    color: black;
  }

  input[type=number] {
    text-align: right;
    border: none;
    
  }
  input {
    float: right;
    
  }

  #age{
    width: 50%;
    border-bottom: none;
    font-size: 16px;
    height: 20px;
  }

  #height{
    width: 50%;
    border-bottom: none;
    font-size: 16px;
    height: 20px;
  }

  #weight{
    width: 50%;
    border-bottom: none;
    font-size: 16px;
    height: 20px;
  }

  #totalCals{
    width: 50%;
    border-bottom: none;
    font-size: 25px;
    height: 20px;
    text-align: center;
  }

  span {
    font-weight: bold;
    font-size: 16px;
  }




  @media (max-width: 576px) { 

    .activator{
        height: 250px;
        
    }
    nav{
        background-color: #424242;
        height: 50%;
        border-bottom: solid #ffc954 3px;
        font-size: 22px;
        
    }

}